<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>362321706918-j7nrgf1srv65fu2nm98und7g9g552r9s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.362321706918-j7nrgf1srv65fu2nm98und7g9g552r9s</string>
	<key>API_KEY</key>
	<string>AIzaSyCXsxD3EtpOvi9Ivm3aI5k2ChJaA8AB6UY</string>
	<key>GCM_SENDER_ID</key>
	<string>362321706918</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.homefinder</string>
	<key>PROJECT_ID</key>
	<string>homefinder-flutter-project</string>
	<key>STORAGE_BUCKET</key>
	<string>homefinder-flutter-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:362321706918:ios:8b0d4c106321efdd181967</string>
</dict>
</plist>